{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 class="mt-5 mb-4 text-center">How to cite</h3>
<section class="card m-5">
    <div class="card-body">
        When incorporating information sourced from <em>pEDB</em> into publications or presentations, it's important to adhere to proper citation guidelines to acknowledge the origin of the data. Here are the recommended citation formats:
        <br><br>
        For printed presentations such as journals or books, the following citation format is suggested:
        "****, et al, 2024: ****. 2024 Number"
        <br><br>
        For oral presentations, slides, or images containing information from <em>pEDB</em>, include:
        <em>pEDB</em>, www.pedb.com
    </div>
</section>

{% endblock %}