{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="mt-5 mb-4 text-center text-white">How to cite</h1>
<section class="card cite m-1">
    <div class="card-body">
        When incorporating information sourced from <em>PEDB</em> into publications or presentations, it's important to adhere to proper citation guidelines to acknowledge the origin of the data. Here are the recommended citation formats:
        <br><br>
        For printed presentations such as journals or books, the following citation format is suggested:
        <br><br>
        For oral presentations, slides, or images containing information from <em>PEDB</em>, include:
        <em>pedb.onrender.com</em>
    </div>
</section>

{% endblock %}