{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container site-map-container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-1 mb-4 text-center text-white">Site Map</h1>
            <div class="list-group"><br>
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action text-white">
                    <h5 class="mb-1">Homepage <i class="fas fa-home text-white"></i></h5><br>
                    <p class="mb-1">The Homepage serves as the entry point to the application, offering users an intuitive search function for quick access. Users select their search criteria and input the corresponding search term.</p>
                </a><br>
                <a href="{% url 'protein_list' %}" class="list-group-item list-group-item-action text-white">
                    <h5 class="mb-1">Search Page <i class="fas fa-search text-white"></i></h5><br>
                    <p class="mb-1">
                        The Search Page hosts the protein list containing all phosphoproteins and their respective phosphosites, along with a search engine (schematically represented below). 
                        Users can search for phosphoproteins by UniProt code, gene, protein name, or peptide sequence. 
                        The peptide sequence search functionality allows users to specify any sequence of amino acids, with a maximum length of 11 amino acids, and places the phosphorylation site in the middle of the sequence. This feature enables precise searches within a defined sequence context, facilitating accurate exploration of phosphosites.
                        Additionally, users can filter their search results based on the phosphorylated amino acid, using the dropdown menu. <br>
                        </p>
                        <p class="mb-1">
                            <ul>
                                <li><strong>Search:</strong> Select your search criteria, enter your query (UniProt code, gene, protein name, or sequence), and optionally filter by modification type.</li>
                                <li><strong>Exploring Search Results:</strong> Navigate through the search results and click on the protein entry to see detailed information about a specific protein.</li>
                                <li><strong>Pagination:</strong> If the search results span multiple pages, use the pagination controls at the bottom of the page to navigate through the pages.</li>
                                <li><strong>Clear:</strong> Use the "Clear" button to reset the search form and view the full list of proteins.</li>
                            </ul>
                        </p>  
                        <pre class="hide-on-sm">
                                        ----------------------------------------------------------
                                        |                    Protein Search Page                  |
                                        ----------------------------------------------------------
                                        |                       Search Form                       |
                                        ----------------------------------------------------------
                                        |  Search Criteria:   |  Modification Type:  |  Search    |
                                        |---------------------|----------------------|  Button    |
                                        |  - UniProt code     |  Phosphorylated      |            |
                                        |  - Gene name        |  amino acid (p-site) |  Clear     |
                                        |  - Protein name     |                      |  Button    |
                                        |  - Peptide sequence |                      |            |
                                        ----------------------------------------------------------
                                        |                      Search Results                     |
                                        |---------------------------------------------------------|
                                        |  UniProt|  Gene | Protein | Strain  | pSite | Details   |
                                        |---------------------------------------------------------|
                                        |  P12345 |  ABC  | ProteinA| Strain1 | Y123  | View      |
                                        |  P67890 |  XYZ  | ProteinB| Strain2 | S456  | View      |
                                        |  ...    |  ...  | ...     | ...     | ...   | ...       |
                                        ----------------------------------------------------------
                                        |                     Pagination Controls                 |
                                        ----------------------------------------------------------
                            </pre>                  
                    <p class="mb-1">
                        When viewing a protein entry in PEDB, users are presented with a comprehensive overview (schematically represented below). The detailed view immediately displays the exact phosphosite clicked on, ensuring precision and clarity in exploration. A structured list then reveals all phosphosites associated with the protein, accompanied by a reference button to access studies referencing each phosphosite. If you encounter unpublished results, feel free to reach out to me, and I will provide you with the MS data and the rationale behind the analysis.
                        Through the interactive chart, users can focus on specific regions of interest, facilitating a nuanced understanding of phosphosite distribution and the protein's disordered propensity. Below this visualization, the protein sequence unfolds, with phosphosites prominently highlighted. This intuitive presentation enables users to pinpoint phosphosites within the broader protein sequence while also gaining insights into its structural characteristics such as disordered regions.
                        Additionally, users have the option to download a PDF file containing the data related to this entry, enabling offline access and further analysis. 
                        Furthermore, users benefit from convenient access to valuable resources via curated links. While PEDB serves as an invaluable repository for phosphosite data in <em>E. coli</em>, it is essential to underscore that its purpose is complementary, not substitutive, to established databases such as UniProt, NCBI, and PDB.
                    <pre class="hide-on-sm">
                                
                                -----------------------------------------------------------------------------
                                | Phosphoprotein name and <em>E.coli stain</em>                           [Download] |
                                -----------------------------------------------------------------------------
                                | UniProt | Gene | Position | Window | Method | Reference/s |               |
                                -------------------------------------------------------------               |
                                |  P12345 | ABC  |  S123    | ...    | MS     |[PMID:123456]|  3D Structure |
                                |         |      |  T456    | ...    | LTP    |             |(visualization)|
                                |         |      |  Y789    | ...    | ...    |             |               |
                                -----------------------------------------------------------------------------
                                -----------------------------------------------------------------------------
                                |         Chart with Phosphosites & Disorder Propensity (IUPred3)           |
                                -----------------------------------------------------------------------------
                                |                                                                           |
                                |                             [Full chart view]                             |
                                |                                                                           |
                                ----------------------------------------------------------------------------- 

                                -----------------------------------------------------------------------------
                                |                             Protein Sequence                              |
                                -----------------------------------------------------------------------------
                                |                                                                           |
                                |     (display of amino acid sequence with phosphosite/s highlighted)       |
                                |                                                                           |
                                |                          [UniProt] [PDB] [AlphaFold]                      |
                                -----------------------------------------------------------------------------
                                
                                -----------------------------------------------------------------------------
                                |                              Other Resources                              |
                                -----------------------------------------------------------------------------
                                |                                                                           |
                                |             (links to additional analysis instruments or resources)       |
                                |                                                                           |
                                |                            [IUPred3] [PSIPRED]                            |
                                -----------------------------------------------------------------------------                          
                    </pre>
                    
                    </p>                    
                </a><br>                    
                <a href="{% url 'login' %}" class="list-group-item list-group-item-action text-white">
                    <h5 class="mb-1">Contribute <i class="fas fa-upload text-white"></i></h5><br>
                    <p class="mb-1">The Contribute page allows users to submit new phosphoprotein/phosphosite data to our database. For larger files, such as Excel files containing multiple phosphosites, please contact us at torbalansky@gmail.com. We will carefully analyze the data and incorporate it into the database, while ensuring to acknowledge the contribution and attribute it to the specific user.
                    Access to the submission form is available upon registration, and all submissions undergo rigorous review before approval, including user registrations. We enforce permission-based access to ensure data integrity and security.</p>                        
                </a><br>
                <a href="{% url 'resources' %}" class="list-group-item list-group-item-action text-white">
                    <h5 class="mb-1">Resources <i class="fas fa-book text-white"></i></h5><br>
                    <p class="mb-1">This page offers a variety of valuable resources related to protein phosphorylation.</p>
                </a><br>
                <a href="{% url 'contact' %}" class="list-group-item list-group-item-action text-white">
                    <h5 class="mb-1">Contact <i class="fas fa-envelope text-white"></i></h5><br>
                    <p class="mb-1">Users can provide feedback or make inquiries through this interface.</p>
                </a><br>
                <a href="{% url 'cite' %}" class="list-group-item list-group-item-action text-white">
                    <h5 class="mb-1">About/General Information/Citation <i class="fas fa-info-circle text-white"></i></h5><br>
                    <p class="mb-1">For users utilizing data from PEDB, we kindly request citation of our article for acknowledgment.</p>
                </a><br>                
            </div>
        </div>
    </div>
</div>
{% endblock %}
