{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card home text-white border-0">
  <div class="row justify-content-center">
    <div class="card-title-home text-center mb-3">
      <img src="{% static 'images/logo_icon.png' %}" alt="Logo" class="logo-icon">
      PEDB Database
    </div>
    <div class="col-lg-5">
      <div class="text-center">
        <form class="form-inline" method="get" action="{% url 'protein_list' %}">
          <h4>Search <em>E. coli</em> phosphoprotein</h4>
          <div class="input-group mb-2">
            <select class="custom-select" id="search_category" name="search_category">
              <option value="uniprot">Uniprot ID</option>
              <option value="gene">Gene Name</option>
              <option value="protein">Protein Name</option>
            </select>
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-primary home" type="submit">Go</button>
          </div>
        </form>
      </div>
    </div>    
  <div class="row no-gutters m-4 justify-content-center">
    <div class="col-md-10 p-1">
      <div class="card-body">
        <p class="card-text">
          <em>pEDB</em> stands as an exhaustive repository for protein phosphorylation data within 
          <em>E. coli</em>, comprising a significant collection of more than 2000 phosphoproteins and 
          identifying 6256 phospho-sites. This comprehensive dataset represents an estimated 37% of the total 
          <em>E. coli K12</em> proteome, underscoring its crucial role across diverse cellular processes. 
          With its rich array of annotated phospho-sites, this online database serves as an indispensable 
          resource for researchers investigating protein phosphorylation. Moreover, access to the platform is
          unrestricted and freely available to all users.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  const searchCategoryDropdown = document.getElementById('search_category');
  const searchQueryInput = document.querySelector('.form-control-navbar');

    function setPlaceholder() {
        const selectedOption = searchCategoryDropdown.value;
  
        switch (selectedOption) {
            case 'uniprot':
                searchQueryInput.placeholder = 'Enter UniProt code, e.g. P08200';
                break;
            case 'gene':
                searchQueryInput.placeholder = 'Enter Gene Name, e.g. icd';
                break;
            case 'protein':
                searchQueryInput.placeholder = 'Enter protein Name, e.g. Isocitrate dehydrogenase';
                break;
            default:
                searchQueryInput.placeholder = 'P08200';
        }
    }

  window.addEventListener('load', setPlaceholder);
  searchCategoryDropdown.addEventListener('change', setPlaceholder);

</script>

{% endblock %}