{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card home text-white border-0">
  <div class="row justify-content-center">
    <div class="card-title-home text-center mb-4 mt-5">
      <img src="{% static 'images/logo_icon.png' %}" alt="Logo" class="logo-icon">
      PEDB Database
    </div>
    <div class="col-lg-5 text-center">
        <form class="form-inline" method="get" action="{% url 'protein_list' %}">
          <h4 style="margin-bottom: 20px;">Search <em>E. coli</em> phosphoprotein</h4>
          <div class="input-group home-search mb-4 mt-4">
            <select class="custom-select" id="search_category" name="search_category">
              <option value="uniprot">Uniprot ID</option>
              <option value="gene">Gene Name</option>
              <option value="protein">Protein Name</option>
            </select>
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-primary home" type="submit">Go</button>
          </div>
        </form>
    </div>    
  <div class="row no-gutters m-2 justify-content-center">
    <div class="col-md-10">
      <div class="card-body">
        <p class="card-text home">
          <strong>PEDB</strong> (<strong>P</strong>hosphorylation <em><strong>E</strong>scherichia</em> <strong>D</strong>ata<strong>B</strong>ase) 
          stands as an exhaustive repository for protein phosphorylation data within 
          <em>E. coli</em>, comprising a significant collection of over 2000 phosphoproteins and 
          identifying more than 7000 phospho-sites. This comprehensive dataset represents approximately 
          40% of the total <em>E. coli</em> proteome, highlighting the crucial role of protein 
          phosphorylation. With its rich array of annotated phospho-sites, this online database serves 
          as an indispensable resource for researchers investigating protein phosphorylation. 
          Moreover, access to the platform is unrestricted and freely available to all users.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  const searchCategoryDropdown = document.getElementById('search_category');
  const searchQueryInput = document.querySelector('.form-control-navbar');

    function setPlaceholder() {
        const selectedOption = searchCategoryDropdown.value;
  
        switch (selectedOption) {
            case 'uniprot':
                searchQueryInput.placeholder = 'e.g. P08200';
                break;
            case 'gene':
                searchQueryInput.placeholder = 'e.g. icd';
                break;
            case 'protein':
                searchQueryInput.placeholder = 'e.g. Isocitrate dehydrogenase';
                break;
            default:
                searchQueryInput.placeholder = 'P08200';
        }
    }

  window.addEventListener('load', setPlaceholder);
  searchCategoryDropdown.addEventListener('change', setPlaceholder);

</script>

{% endblock %}