{% extends 'base.html' %}
{% load static %}

{% block content %}
  
        <h3 class="mt-5 mb-4 text-center">Overview</h3>

        <section class="card m-5">
            <div class="card-body">
                <p class="card-text"> Since its discovery in the early 1950s, protein phosphorylation has experienced remarkable advancements. Currently, approximately 50 eukaryotic protein kinase inhibitors have gained FDA approval, primarily utilized as anti-cancer medications, with an additional 150 candidates undergoing clinical evaluation (1). Despite the antibiotic resistance crisis and the potential of post-translational modifications (PTMs) such as protein phosphorylation as therapeutic targets, the study of bacterial PP lags behind (2). Recent phosphoproteomic studies in  Escherichia coli ( <em>E. coli</em>)  have unveiled numerous phosphorylation sites, indicating the extensive regulatory role of PP in bacterial systems (3, 4).
                    <br><br>However, despite the growing importance of understanding bacterial protein phosphorylation, researchers face challenges in accessing comprehensive and up-to-date information on phosphorylation sites in model systems such as <em>E. coli</em>. Currently, there is no centralized platform that consolidates all phosphorylation data, necessitating researchers to navigate various resources to gather information about specific proteins. This fragmented landscape hinders efficient exploration and analysis of phosphorylation data, limiting the progress of research in this field.
                    <br><br>To address this gap, we introduce <em>PhosEcoli</em>, an innovative platform designed to streamline access to phosphorylation information in <em>E. coli</em>.<em>PhosEcoli</em> aims to provide researchers with a comprehensive and up-to-date repository of phosphorylation sites, proteins, and relevant references, facilitating efficient browsing and retrieval of phosphorylation data. By consolidating diverse phosphorylation data into a single, user-friendly interface, <em>PhosEcoli</em> empowers researchers to explore the intricate landscape of bacterial protein phosphorylation with ease.
                    <br><br>With <em>PhosEcoli</em>, researchers can uncover valuable insights into the regulatory mechanisms governed by protein phosphorylation in <em>E. coli</em>, accelerating discoveries and advancing our understanding of bacterial signaling networks. Whether investigating specific phosphorylation sites or exploring broader trends in bacterial phosphorylation, <em>PhosEcoli</em> serves as a valuable resource for researchers seeking to unravel the complexities of bacterial cellular signaling.</p>
            </div>
            <div class="container">
                <h6>Reference:</h6>
                <a href="https://molecular-cancer.biomedcentral.com/articles/10.1186/s12943-018-0804-2" class="list-group-item list-group-item-action">
                    <p class="mb-1">1. K. S. Bhullar et al., Kinase-targeted cancer therapies: progress, challenges and future directions. Mol Cancer 17, 48-48 (2018).</p>
                </a>
                <a href="https://www.dovepress.com/antibiotic-resistance-a-rundown-of-a-global-crisis-peer-reviewed-fulltext-article-IDR" class="list-group-item list-group-item-action">
                    <p class="mb-1">2. B. Aslam et al., Antibiotic resistance: a rundown of a global crisis. Infect Drug Resist 11, 1645-1658 (2018).</p>
                </a>
                <a href="https://www.mcponline.org/article/S1535-9476(20)32009-0/fulltext" class="list-group-item list-group-item-action">
                    <p class="mb-1">3. M. H. Lin et al., A New Tool to Reveal Bacterial Signaling Mechanisms in Antibiotic Treatment and Resistance. Molecular & cellular proteomics : MCP 17, 2496-2507 (2018).</p>
                </a>
                <a href="https://www.nature.com/articles/nmeth.4580" class="list-group-item list-group-item-action">
                    <p class="mb-1">4. C. M. Potel, M. H. Lin, A. J. R. Heck, S. Lemeer, Widespread bacterial protein histidine phosphorylation revealed by mass spectrometry-based proteomics. Nature methods 15, 187-190 (2018).</p>
                </a>

            </div>
        </section>

        
{% endblock %}

