{% extends 'base.html' %}
{% load static %}

{% block content %}
  
        <h3 class="mt-5 mb-4 text-center">Overview</h3>

        <section class="card m-5">
            <div class="card-body">
                <p class="card-text"> The field of protein phosphorylation (PP) has witnessed significant advancements since its discovery in the early 1950s. While eukaryotic protein kinase inhibitors have made remarkable progress, with approximately 50 inhibitors approved by the FDA, the research on bacterial protein phosphorylation, remains comparatively underexplored. Despite the antibiotic resistance crisis and the potential of post-translational modifications (PTMs) like protein phosphorylation as therapeutic targets, the study of bacterial PP lags behind. Recent phosphoproteomic studies in E. coli have unveiled numerous phosphorylation sites, indicating the extensive regulatory role of PP in bacterial systems.
                    <br><br>However, despite the growing importance of understanding bacterial protein phosphorylation, researchers face challenges in accessing comprehensive and up-to-date information on phosphorylation sites. Currently, there is no centralized platform that consolidates all phosphorylation data, necessitating researchers to navigate various resources to gather information about specific proteins. This fragmented landscape hinders efficient exploration and analysis of phosphorylation data, limiting the progress of research in this field.
                    <br><br>To address this gap, we introduce Phosecoli, an innovative platform designed to streamline access to phosphorylation information in E. coli. Phosecoli aims to provide researchers with a comprehensive and up-to-date repository of phosphorylation sites, proteins, and relevant references, facilitating efficient browsing and retrieval of phosphorylation data. By consolidating diverse phosphorylation data into a single, user-friendly interface, Phosecoli empowers researchers to explore the intricate landscape of bacterial protein phosphorylation with ease.
                    <br><br>With PhosEcoli, researchers can uncover valuable insights into the regulatory mechanisms governed by protein phosphorylation in E. coli, accelerating discoveries and advancing our understanding of bacterial signaling networks. Whether investigating specific phosphorylation sites or exploring broader trends in bacterial phosphorylation, Phosecoli serves as a valuable resource for researchers seeking to unravel the complexities of bacterial cellular signaling.</p>
            </div>
        </section>

        
{% endblock %}

