<title>{{ protein.protein_name }}</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
            width: 20%;
        }
    </style>
</head>
<body>
    <h2>Phos<em>Ecoli</em></h2>
    <table>
        <tr>
            <th>Protein Name</th>
            <td>{{ protein.protein_name }}</td>
        </tr>
        <tr>
            <th>UniProtKB</th>
            <td>
                {% if protein.uniprot_url %}
                    <a href="{{ protein.uniprot_url }}" target="_blank" style="text-decoration: none;">{{ protein.uniprot_code }}</a>
                {% else %}
                    {{ protein.uniprot_code }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Gene Name</th>
            <td>{{ protein.gene_name }}</td>
        </tr>
        <tr>
            <th>Phosphosites</th>
            <td>
                {% if protein.phosphosite_set.all %}
                    {% for phosphosite in protein.phosphosite_set.all %}
                        <span class="phosphosite" data-reference="{{ phosphosite.reference }}">{{ phosphosite.modification_type }}{{ phosphosite.position }}</span>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    No phosphosites found
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>PDB</th>
            <td>{{ protein.pdb_code }}</td>
        </tr>
    </table>