<title>{{ protein.protein_name }}</title>

    <p><strong>Uniprot:</strong>{{ protein.uniprot_code }}</p>
    <p><strong>Gene Name:</strong>{{ protein.gene_name }}</p>
    <p><strong>Modification Type:</strong> {{ protein.modification_type }}</p>
    <p><strong>Position:</strong> {{ protein.position }}</p>
    <p><strong>Window -/+ 5aa:</strong> {{ protein.window_5_aa }}</p>
    <p><strong>Sequence:</strong> {{ protein.sequence }}</p>
    <p><strong>Method At:</strong> {{ protein.method }}</p>
    <p><strong>Reference</strong> {{ protein.reference }}</p>
    <p><strong>Structure</strong> {{ protein.alphafold_link }}</p>
