{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container protein-list-container">
    <h3 class="mt-5 mb-4 text-center"><em>E.coli</em> PhosphoProteome</h3>

        <div class="search-container">
            <div class="search-form-container">
                <form method="get" action="{% url 'protein_list' %}">
                    <div class="form-group">
                        <label for="id_uniprot_code">Uniprot ID:</label>
                        {{ form.uniprot_code }}
                    </div>
                    <div class="form-group">
                        <label for="id_gene_name">Gene Name:</label>
                        {{ form.gene_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_protein_name">Protein Name:</label>
                        {{ form.protein_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_modification_type">Modification Type:</label>
                        {{ form.modification_type }}
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" id="clearButton" class="btn btn-danger">Clear</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Uniprot</th>
                            <th>Gene</th>
                            <th class="hide-on-sm">Protein</th>
                            <th>Position</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for protein in proteins %}
                            <tr class="{% cycle 'odd' 'even' %}">
                                <td class="uniprot_link">
                                    {% if protein.uniprot_url %}
                                        <a href="{{ protein.uniprot_url }}" target="_blank">{{ protein.uniprot_code }}</a>
                                    {% else %}
                                        {{ protein.uniprot_code }}
                                    {% endif %}
                                </td>
                                <td>{{ protein.gene_name }}</td>
                                <td class="hide-on-sm">{{ protein.protein_name }}</td>
                                <td>
                                    {% if protein.phosphosite_set.all %}
                                    {% for phosphosite in protein.phosphosite_set.all|dictsort:"modification_type" %}
                                        {{ phosphosite.modification_type }}{{ phosphosite.position }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    {% else %}
                                        No phosphosites found
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'protein_details' pk=protein.pk %}" class="btn btn-light">View</a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center">No proteins found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>                
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#clearButton").click(function () {
            $("#id_uniprot_code").val("");
            $("#id_gene_name").val("");
            $("#id_protein_name").val("");
            $("#id_modification_type").val("");
        });
    });

    $("#clearButton").click(function () {
        window.location.href = "{% url 'protein_list' %}";
    });

</script>
{% endblock %}
