{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid protein-details mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="row justify-content-end mb-3">
                <div class="col-auto">
                    <button class="btn btn-primary" onclick="goBack()">Back to Search</button>
                </div>
            </div>
            <div class="card text-left">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="protein-name">{{ protein.protein_name }} - <em>{{ protein.coli_strain }}</em></h5>
                    <div class="download-overlay">
                        <a href="{% url 'export_protein_as_pdf' protein.pk %}" class="btn-fa" title="Download as PDF">
                            <i class="fas fa-download"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body protein-details-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">UniProt</th>
                                <th scope="col">Gene</th>
                                <th class="hide-on-sm" scope="col">Protein</th>
                                <th scope="col">Position</th>
                                <th class="hide-on-sm" scope="col">Window</th>
                                <th class="hide-on-sm" scope="col">Method</th>
                                <th scope="col">Reference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="highlighted-row">
                                <td>
                                    {% if protein.uniprot_url %}
                                        <a  style="text-decoration: none;" href="{{ protein.uniprot_url }}" target="_blank">{{ protein.uniprot_code }}</a>
                                    {% else %}
                                        {{ protein.uniprot_code }}
                                    {% endif %}
                                </td>
                                <td>{{ protein.gene_name }}</td>
                                <td class="hide-on-sm">{{ protein.protein_name }}</td>
                                <td>{{ protein.modification_type }}{{ protein.position }}</td>
                                <td class="hide-on-sm">{{ protein.window_5_aa }}</td>
                                <td class="hide-on-sm" title="{% if protein.method == 'LTP' %}This modification site, identified through Low Throughput (LTP) method, was discovered using a technique distinct from mass spectrometry (MS).{% endif %}">{{ protein.method }}</td>
                                <td>
                                    <button class="btn btn-primary main-ref-button" data-reference="{{ protein.reference }}">View</button>
                                    <div class="references" style="display: none;">
                                        <ul class="references-list">
                                            {% if pmids %}
                                            <p>Debug: {{ pmids }}</p>
                                            {% for pmid in pmids %}
                                                <li><a href="https://pubmed.ncbi.nlm.nih.gov/{{ pmid }}/" target="_blank">{{ pmid }}</a></li>
                                            {% endfor %}
                                            {% endif %}
                                        </ul>
                                        <button class="btn btn-danger clearrefButton">Close</button>
                                    </div>
                                </td>
                            </tr>
                            {% for related_protein in related_proteins %}
                            <tr>
                                <td class="hide-on-sm"></td>
                                <td></td>
                                <td></td>
                                <td>{{ related_protein.modification_type }}{{ related_protein.position }}</td>
                                <td class="hide-on-sm">{{ related_protein.window_5_aa }}</td>
                                <td class="hide-on-sm">{{ related_protein.method }}</td>
                                <td>
                                    <button class="btn btn-primary related-ref-button" data-reference="{{ related_protein.reference }}">View</button>
                                    <div class="references" style="display: none;">
                                        <ul class="references-list"></ul>
                                        <button class="btn btn-danger clearrefButtonRelated">Close</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="chart-container d-none d-md-block">{{ chart_image | safe }}</div>
                    <div class="protein-sequence">
                        <h5>Protein Sequence:</h5>
                        {% for position, aa in sequence_with_positions %}
                            {% if position == protein.position %}
                                <span class="phosphosite-highlight">{{ aa }}</span>
                            {% elif position in related_positions %}
                                <span class="related-phosphosite-highlight">{{ aa }}</span>
                            {% else %}
                                <span>{{ aa }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    Cross-references to other databases:
                    {% if protein.uniprot_url %}
                        <a href="{{ protein.uniprot_url }}" target="_blank">UniProt</a> |
                    {% if protein.pdb_code and protein.pdb_code != 'nan' %}
                        <a href="https://www.rcsb.org/structure/{{ protein.pdb_code }}" target="_blank">PDB</a> |
                    {% endif %}
                    <a href="{{ protein.alphafold_url }}" target="_blank">AlphaFold</a>
                    {% else %}
                    Not available
                {% endif %}
            </div>            
        </div>
    </div>
</div>

<script>
        $(document).ready(function() {
        $('.main-ref-button, .related-ref-button').click(function() {
            var referenceData = $(this).data('reference');
            console.log("Reference data:", referenceData);
            var pmids = String(referenceData).split(';'); 
            var referencesContainer = $(this).closest('tr').find('.references');
            var referencesList = referencesContainer.find('.references-list');
            referencesList.empty(); 
            pmids.forEach(function(pmid) {
                if (!isNaN(pmid.trim())) {
                    var listItem = $('<li><a href="https://pubmed.ncbi.nlm.nih.gov/' + pmid.trim() + '/" target="_blank">PMID: ' + pmid.trim() + '</a></li>');
                } else {
                    var listItem = $('<li>' + pmid.trim() + '</li>');
                }
                referencesList.append(listItem);
            });
            referencesContainer.show();
            $(this).hide();
        });

        $(document).on('click', '.clearrefButton, .clearrefButtonRelated', function() {
            var referencesContainer = $(this).closest('.references');
            referencesContainer.hide();
            $(this).closest('tr').find('.main-ref-button, .related-ref-button').show();
        });
    });

    function goBack() {
            window.history.back();
        }

</script>

{% endblock %}
