{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
.search-list {
    margin-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form-control-list {
    border: 1px solid #cdff79 !important;
    border-radius: 0 !important;
    margin-left: 5px;
    width: 200px;
}

.custom-select {
    border-radius: 0 !important;
}

.custom-select:hover {
    cursor: pointer;
}

span:hover {
    cursor: pointer;
}

.btn.btn-primary {
    width: 80px; 
    padding: 8px; 
    font-weight: bold;
    margin-left: 150px;
    border-radius: 0 !important;
}
.btn-danger {
    width: 80px !important; 
    margin-left: 10px;
    border-radius: 0 !important;
}

.protein-list-help {
    color: white;
    margin-left: 50px;
}

@media (max-width: 576px) {
    .input-group {
        margin-left: 20px;
        width: 70%;
    }

    .form-control-list {
        margin-left: 20px;
        margin-bottom: 10px;
        width: 80%;
    }

    .search-list {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .hide-on-sm {
        display: none;
    }

  .col-md-4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start !important;
            -ms-flex-pack: start !important;
                justify-content: flex-start !important;
    }

    .protein-list-help {
    margin: 0;
    text-align: center;
    }

    .pagination .page-item {
      margin: 5px 3px;
  }
}

.input-group-append span {
    border: 1px solid #cdff79 !important;
    border-radius: 0 !important;
    padding: 6px 1px;
    margin: 0;
    background-color: white;
}

.btn.btn-primary {
    background-color: #cdff79;
    color: rgb(9, 43, 77);
    border: 0.5px solid white;
}

.btn.btn-danger {
    border: 0.5px solid white;
    font-weight: 500 !important;
}

.btn.btn-primary:hover {
    background-color:  #ceff79a0;
}

.btn.btn-danger:hover {
    background-color: rgba(255, 0, 0, 0.503);
}
</style>

<div class="protein-list-help">
    <p>Use the search menu below to find proteins by UniProt code, Gene name, or Protein name. 
        You can also filter by amino acid (p-site).</p>
</div>
<div class="search-list">
    <form class="form-inline" method="get" action="{% url 'protein_list' %}">
        <div class="row">
            <div class="col-md-2 mt-2">
                <label for="search_category" class="visually-hidden">Search Category:</label>
                <div class="input-group">
                    <select class="custom-select form-control" id="search_category" name="search_category">
                        <option value="uniprot" {% if request.GET.search_category == 'uniprot' %} selected {% endif %}>UniProt</option>
                        <option value="gene" {% if request.GET.search_category == 'gene' %} selected {% endif %}>Gene</option>
                        <option value="protein" {% if request.GET.search_category == 'protein' %} selected {% endif %}>Protein</option>
                    </select>
                    <div class="input-group-append hide-on-sm">
                        <span class="input-group-text text-dark border-0" id="searchDropdownIndicator">▼</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mt-2">
                <label for="modification_type" class="visually-hidden">Modification Type:</label>
                <div class="input-group">
                    <select class="custom-select form-control" id="modification_type" name="modification_type">
                        <option value="" {% if request.GET.modification_type == '' %} selected {% endif %}>p-site</option>
                        <option value="Y" {% if request.GET.modification_type == 'Y' %} selected {% endif %}>Y</option>
                        <option value="H" {% if request.GET.modification_type == 'H' %} selected {% endif %}>H</option>
                        <option value="S" {% if request.GET.modification_type == 'S' %} selected {% endif %}>S</option>
                        <option value="T" {% if request.GET.modification_type == 'T' %} selected {% endif %}>T</option>
                        <option value="D" {% if request.GET.modification_type == 'D' %} selected {% endif %}>D</option>
                        <option value="K" {% if request.GET.modification_type == 'K' %} selected {% endif %}>K</option>
                        <option value="R" {% if request.GET.modification_type == 'R' %} selected {% endif %}>R</option>
                        <option value="C" {% if request.GET.modification_type == 'C' %} selected {% endif %}>C</option>
                    </select>
                    <div class="input-group-append hide-on-sm">
                        <span class="input-group-text text-dark border-0" id="modificationDropdownIndicator">▼</span>
                    </div>
                </div>
            </div>            
            <div class="col-md-2 mt-2">
                <input class="form-control form-control-list" type="search" placeholder="Search" aria-label="Search" name="q" id="q" value="{{ request.GET.q }}">
            </div>
            <div class="col-md-4 d-flex align-items-end justify-content-end mt-2">
                <button class="btn btn-primary" type="submit">Search</button>
                <button type="button" id="clearButton" class="btn btn-danger">Clear</button>
            </div>
        </div>
    </form>
</div>
<div class="row protein-list-container">
    <div class="col">
        <table class="table table-striped res">
            <thead>
                <tr>
                    <th>UniProt</th>
                    <th>Gene</th>
                    <th class="hide-on-sm">Protein</th>
                    <th>Strain</th>
                    <th>pSite</th>
                    <th class="hide-on-sm">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for protein in proteins %}
                    <tr class="{% cycle 'odd' 'even' %}" data-protein-url="{% url 'protein_details' pk=protein.pk %}">
                        <td>{{ protein.uniprot_code }}</td>
                        <td>{{ protein.gene_name }}</td>
                        <td class="hide-on-sm">{{ protein.protein_name }}</td>
                        <td style="font-style: italic">{{ protein.coli_strain }}</td>
                        <td>
                            {% if protein.position %}
                            {{ protein.modification_type }}{{ protein.position }}
                            {% else %}
                                No phosphosite found
                            {% endif %}
                        </td>                                                
                        <td class="hide-on-sm"><a href="{% url 'protein_details' pk=protein.pk %}" class="btn btn-light">View</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No proteins found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if is_paginated %}
<div class="pagination mb-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{{ request.GET.urlencode }}&page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i> Previous</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <li class="page-item {% if num == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">Next <i class="fas fa-angle-right"></i></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?{{ request.GET.urlencode }}&page={{ paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchForm = document.querySelector('.form-inline');
        const searchCategoryDropdown = document.getElementById('search_category');
        const searchQueryInput = document.querySelector('.form-control-list');
        const modificationTypeDropdown = document.getElementById('modification_type');
        const tableRows = document.querySelectorAll('.protein-list-container tbody tr');
    
        tableRows.forEach(row => {
            row.addEventListener('click', function() {
                const proteinUrl = row.dataset.proteinUrl;
                window.location.href = proteinUrl;
            });
        });
    
        function toggleDropdownSize(dropdown) {
            dropdown.size = dropdown.size === 1 ? dropdown.options.length : 1;
        }
    
        document.getElementById('searchDropdownIndicator').addEventListener('click', function(event) {
            toggleDropdownSize(searchCategoryDropdown);
            event.stopPropagation();
        });
    
        document.getElementById('modificationDropdownIndicator').addEventListener('click', function(event) {
            toggleDropdownSize(modificationTypeDropdown);
            event.stopPropagation();
        });
    
        document.addEventListener('click', function() {
            searchCategoryDropdown.size = 1;
            modificationTypeDropdown.size = 1;
        });
    
        searchForm.addEventListener('submit', function(event) {
            const selectedCategory = searchCategoryDropdown.value;
            const searchQuery = searchQueryInput.value.trim();
            const selectedModificationType = modificationTypeDropdown.value;
    
            if (!searchQuery && !selectedModificationType) {
                event.preventDefault();
                return;
            }
    
            const urlParams = [];
            if (searchQuery) {
                urlParams.push(`q=${searchQuery}`);
            }
            if (selectedCategory) {
                urlParams.push(`search_category=${selectedCategory}`);
            }
            if (selectedModificationType) {
                urlParams.push(`modification_type=${selectedModificationType}`);
            }
            const url = `?${urlParams.join('&')}`;
    
            window.location.href = url;
            event.preventDefault();
        });
    
        const clearButton = document.getElementById('clearButton');
        clearButton.addEventListener('click', function() {
            searchCategoryDropdown.value = 'uniprot';
            searchQueryInput.value = '';
            modificationTypeDropdown.value = '';
            searchForm.submit();
        });
    
        function setPlaceholder() {
            const selectedOption = searchCategoryDropdown.value;
      
            switch (selectedOption) {
                case 'uniprot':
                    searchQueryInput.placeholder = 'e.g. P0A862';
                    break;
                case 'gene':
                    searchQueryInput.placeholder = 'e.g. tpx';
                    break;
                case 'protein':
                    searchQueryInput.placeholder = 'e.g. Thiol peroxidase';
                    break;
                default:
                    searchQueryInput.placeholder = 'P08200';
            }
        }
    
        window.addEventListener('load', setPlaceholder);
        searchCategoryDropdown.addEventListener('change', setPlaceholder);
    });
</script>    

{% endblock %}
