{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .protein-details-container {
        overflow-x: auto;
    }

    .protein-viewer {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    .chart-tooltip::after {
        content: attr(title);
        position: absolute;
        bottom: 95%;
        left: 30%;
        transform: translateX(-50%);
        background-color: #ffffff00;
        color: #ffffff00;
        border-radius: 5px;
        opacity: 0;
    }

    .custom-header {
        background-color: rgb(108, 86, 129);
        color: white;
    }
    
    #molstar-container {
        width: 300px;
        height: 200px;
    }

    .external-data {
        display: block;
    }
</style>
        <div class="container-fluid protein-details mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row justify-content-end mb-3">
                        <div class="col-auto">
                            <button class="btn btn-outline-light" style="font-weight: 600;" onclick="goBack()">Back to Search</button>
                        </div>
                    </div>
                    <div class="card text-left">
                        <div class="card-header custom-header d-flex justify-content-between align-items-center">
                            <h5 class="protein-name">{{ protein.protein_name }} - <em>{{ protein.coli_strain }}</em></h5>
                            <div class="download-overlay">
                                <a href="{% url 'export_protein_as_pdf' protein.pk %}" class="btn-fa" title="Download as PDF">
                                    <i class="fas fa-download" style="color:white"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body protein-details-container">
                            <div class="row">
                                <div class="col-lg-7 mb-4 mt-2 ml-lg-8 ml-sm-0">
                                    <table class="table details mb-4 mt-4">
                                        <thead>
                                            <tr>
                                                <th class="hide-on-sm" scope="col">UniProt</th>
                                                <th class="hide-on-sm" scope="col">Gene</th>
                                                <th scope="col" title="Position within protein">Position</th>
                                                <th class="hide-on-sm" scope="col" title="Window -/+ 5 amino acids">Window</th>
                                                <th class="hide-on-sm" scope="col">Method</th>
                                                <th scope="col" title="Reference/s">Ref</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="highlighted-row">
                                                <td class="hide-on-sm">
                                                    {% if protein.uniprot_url %}
                                                        <a href="{{ protein.uniprot_url }}" target="_blank">{{ protein.uniprot_code }}</a>
                                                    {% else %}
                                                        {{ protein.uniprot_code }}
                                                    {% endif %}
                                                </td>
                                                <td class="hide-on-sm">{{ protein.gene_name }}</td>
                                                <td>{{ protein.modification_type }}{{ protein.position }}</td>
                                                <td class="hide-on-sm" style="font-family: 'Courier New', Courier, monospace;">{{ protein.window_5_aa }}</td>
                                                <td class="hide-on-sm" title="{% if protein.method == 'LTP' %}This modification site, identified through Low Throughput (LTP) method, was discovered using a technique distinct from mass spectrometry (MS).{% endif %}">{{ protein.method }}</td>
                                                <td>
                                                    <button class="btn main-ref-button" data-reference="{{ protein.reference }}" title="View reference list"><i class="fa-solid fa-arrow-down-short-wide" style="color: rgb(9, 85, 177);"></i></button>
                                                    <div class="references" style="display: none;">
                                                        <ul class="references-list">
                                                            {% if pmids %}
                                                            <p>Debug: {{ pmids }}</p>
                                                            {% for pmid in pmids %}
                                                                <li><a href="https://pubmed.ncbi.nlm.nih.gov/{{ pmid }}/" target="_blank">{{ pmid }}</a></li>
                                                            {% endfor %}
                                                            {% endif %}
                                                        </ul>
                                                        <button class="btn clearrefButton" title="Close reference list"><i class="fa-solid fa-arrow-up-short-wide" style="color: rgb(177, 9, 9);"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% for related_protein in related_proteins %}
                                            <tr>
                                                <td class="hide-on-sm"></td>
                                                <td class="hide-on-sm"></td>
                                                <td>{{ related_protein.modification_type }}{{ related_protein.position }}</td>
                                                <td class="hide-on-sm" style="font-family: 'Courier New', Courier, monospace;">{{ related_protein.window_5_aa }}</td>
                                                <td class="hide-on-sm">{{ related_protein.method }}</td>
                                                <td>
                                                    <button class="btn related-ref-button" data-reference="{{ related_protein.reference }}" title="View reference list."><i class="fa-solid fa-arrow-down-short-wide" style="color: rgb(9, 85, 177);"></i></button>
                                                    <div class="references" style="display: none;">
                                                        <ul class="references-list"></ul>
                                                        <button class="btn clearrefButtonRelated" title="Close reference list."><i class="fa-solid fa-arrow-up-short-wide" style="color: rgb(177, 9, 9);"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-5 mb-4 mt-4 ml-lg-4 ml-sm-0">
                                    {% if protein.pdb_code and protein.pdb_code != 'nan' %}
                                    <div class="card mt-4">
                                        <div class="card-header">
                                            3D structure {{ protein.gene_name }} {% if protein.pdb_code and protein.pdb_code != 'nan' %} -
                                            <a href="https://www.rcsb.org/structure/{{ protein.pdb_code }}" target="_blank">PDB: {{ protein.pdb_code }}</a>
                                            {% endif %}
                                        </div>
                                        <div class="card-body protein">
                                            <div id="molstar-container" style="margin-left: 50px;"></div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="card mb-4 mt-4">
                                        <div class="card-header">
                                            <h5>AlphaFold-generated Structure</h5>
                                        </div>
                                        <div class="card-body">
                                            <div id="molstar-container"></div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="protein-info" class="col-lg-12">
                    <div class="card mt-2">
                        <div class="card-header bg-secondary text-white">
                            <strong>Additional Information</strong>
                        </div>
                        <div class="card-body">
                            <div class="chart-container d-none d-md-block">
                                {{ chart_image | safe }}
                                <span class="chart-tooltip" title="Interact with the chart using the Plotly menu (top right corner). You can zoom in, zoom out, pan, and more. The chart automatically focuses on the region where the p-site you clicked on is located. Click 'autoscale' to see the full length of the chart."></span>
                            </div>
                        </div>
                        <div class="protein-sequence" style="padding: 10px;">
                            <h5 style="font-family: Barlow, sans-serif; font-size: 14px;">>{{ protein.uniprot_code }}</h5>
                            {% for position, aa in sequence_with_positions %}
                                {% if position == protein.position %}
                                    <span class="phosphosite-highlight">{{ aa }}</span>
                                {% elif position in related_positions %}
                                    <span class="related-phosphosite-highlight">{{ aa }}</span>
                                {% else %}
                                    <span>{{ aa }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    <div class="card mt-4">
                        <div class="card-body p-2">
                            {% if protein.function and protein.function != 'nan' %}
                            <p><strong>Function:</strong> {{ protein.function }}</p>
                            {% endif %}
                            {% if protein.go_mf and protein.go_mf != 'nan' %}
                            <p><strong>Molecular function:</strong> {{ protein.go_mf }}</p>
                            {% endif %}
                            {% if protein.go_cc and protein.go_cc != 'nan' %}
                            <p><strong>Cellular component:</strong> {{ protein.go_cc }}</p>
                            {% endif %}
                            {% if protein.go_bp and protein.go_bp != 'nan' %}
                            <p><strong>Biological Process:</strong> {{ protein.go_bp }}</p>
                            {% endif %}
                            {% if protein.protein_f and protein.protein_f != 'nan' %}
                            <p><strong>Protein Family:</strong> {{ protein.protein_f }}</p>
                            {% endif %}
                        </div>
                        <div class="row m-2 text-center external-data">
                            <p style="font-weight: bold;">Explore External Protein Resources for {{ protein.protein_name }}:</p>
                            {% if protein.uniprot_url %}
                                <a href="{{ protein.uniprot_url }}" target="_blank">UniProt</a> |
                            {% endif %}
                            {% if protein.pdb_code and protein.pdb_code != 'nan' %}
                                <a href="https://www.rcsb.org/structure/{{ protein.pdb_code }}" target="_blank">PDB</a> |
                            {% endif %}
                            <a href="{{ protein.alphafold_url }}" target="_blank">AlphaFold</a>
                            {% if not protein.uniprot_url and not protein.pdb_code and protein.pdb_code == 'nan' %}
                                Not available
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row m-1 p-2">
                <div class="col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header bg-secondary text-white">
                            <strong>Explore Disordered and Binding Regions of {{ protein.gene_name }} with IUPred3:</strong>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <p>
                                <strong>Directions:</strong>
                                <ol>
                                    <li>Click the button below.</li>
                                    <li>Once on the IUPred3 website, locate the field requiring the SWISS-PROT identifier or accession number.</li>
                                    <li>Paste the UniProt code that has been automatically copied from our application.</li>
                                    <li>Select the type of analysis.</li>
                                </ol>
                            </p>
                            <a href="#" onclick="copyUniProtCode('{{ protein.uniprot_code }}'); redirectToIUPred();" class="btn btn-primary">Explore IUPred3</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header bg-secondary text-white">
                            <strong>Discover Secondary Structure for {{ protein.gene_name }} with PSIPRED:</strong>
                        </div>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <p>
                                <strong>Directions:</strong>
                                <ol>
                                    <li>Click the button below.</li>
                                    <li>Once on the PSIPRED website, locate the field requiring the protein sequence in FASTA format.</li>
                                    <li>Paste the FASTA sequence that has been automatically copied from our application.</li>
                                    <li>Select the desired prediction.</li>
                                </ol>
                            </p>
                            <button class="btn btn-primary" onclick="copyFastaSequence('{{ protein.uniprot_code }}', '{{ protein.sequence }}')">Explore PSIPRED</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pdbe-molstar@3.2.0/build/pdbe-molstar.css">
        <script src="https://cdn.jsdelivr.net/npm/pdbe-molstar@3.2.0/build/pdbe-molstar-plugin.js"></script>
        <script>
            $(document).ready(function() {
                $('.main-ref-button, .related-ref-button').click(function() {
                    var referenceData = $(this).data('reference');
                    console.log("Reference data:", referenceData);
                    var pmids = String(referenceData).split(';'); 
                    var referencesContainer = $(this).closest('tr').find('.references');
                    var referencesList = referencesContainer.find('.references-list');
                    referencesList.empty(); 
                    pmids.forEach(function(pmid) {
                        if (!isNaN(pmid.trim())) {
                            var listItem = $('<li><a href="https://pubmed.ncbi.nlm.nih.gov/' + pmid.trim() + '/" target="_blank">PMID: ' + pmid.trim() + '</a></li>');
                        } else {
                            var listItem = $('<li>' + pmid.trim() + '</li>');
                        }
                        referencesList.append(listItem);
                    });
                    referencesContainer.show();
                    $(this).hide();
                });
        
                $(document).on('click', '.clearrefButton, .clearrefButtonRelated', function() {
                    var referencesContainer = $(this).closest('.references');
                    referencesContainer.hide();
                    $(this).closest('tr').find('.main-ref-button, .related-ref-button').show();
                });
        
                const viewerInstance = new PDBeMolstarPlugin();
                const pdbCode = "{{ protein.pdb_code }}";
                const uniprotCode = "{{ protein.uniprot_code }}";
                let options; 

                if (pdbCode && pdbCode !== 'nan') {
                    options = {
                        moleculeId: pdbCode,
                        hideControls: true,
                        sequencePanel: true,
                        hideCanvasControls: ['expand', 'animation'],
                    };
                } else {
                    options = {
                        customData: {
                            url: 'https://alphafold.ebi.ac.uk/files/AF-' + uniprotCode + '-F1-model_v4.cif',
                            format: 'cif',
                            binary: false
                        },
                        hideControls: true,
                        sequencePanel: true,
                        hideCanvasControls: ['expand', 'selection', 'animation', 'controlInfo'],
                        bgColor: { r: 255, g: 255, b: 255 },
                    };

                const alphafoldMessage = document.createElement('div');
                    alphafoldMessage.innerText = "This is an AlphaFold-generated structure.";
                    alphafoldMessage.style.fontWeight = 'bold';
                    alphafoldMessage.style.color = 'red';
                    alphafoldMessage.style.marginTop = '10px';
                    const viewerContainer = document.getElementById('molstar-container');
                    viewerContainer.parentNode.insertBefore(alphafoldMessage, viewerContainer);
                }

                const viewerContainer = document.getElementById('molstar-container');
                viewerInstance.render(viewerContainer, options);
            });
        
            function goBack() {
                window.history.back();
            }
    
            function copyUniProtCode(uniprotCode) {
            const textarea = document.createElement('textarea');
            textarea.value = uniprotCode;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            }
        
            function redirectToIUPred() {
                const iupredUrl = 'https://iupred.elte.hu/';
                window.open(iupredUrl, '_blank');
            }
    
            function copyFastaSequence(uniprotCode, sequence) {
            const fastaSequence = `>${uniprotCode}\n${sequence}`;
            const textarea = document.createElement('textarea');
            textarea.value = fastaSequence;
            document.body.appendChild(textarea);
            textarea.select();
            document.execCommand('copy');
            document.body.removeChild(textarea);
            window.open('http://bioinf.cs.ucl.ac.uk/psipred/', '_blank');
            }
        </script>

{% endblock %}