{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3 class="mt-5 mb-4 text-center">Resources</h3>
    
    <div class="card mb-5">
        <div class="card-body">
            <p class="card-text">Below is a list of valuable resources for exploring protein phosphorylation:</p>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NCBI</td>
                            <td><a href="https://www.ncbi.nlm.nih.gov/" target="_blank">https://www.ncbi.nlm.nih.gov/</a></td>
                        </tr>
                        <tr>
                            <td>Uniprot</td>
                            <td><a href="https://www.uniprot.org/" target="_blank">https://www.uniprot.org/</a></td>
                        </tr>
                        <tr>
                            <td>HisPhosSite</td>
                            <td><a href="http://reprod.njmu.edu.cn/cgi-bin/HisPhosSite/HisPhosSite.php" target="_blank">http://reprod.njmu.edu.cn/cgi-bin/HisPhosSite/HisPhosSite.php</a></td>
                        </tr>
                        <tr>
                            <td>PDB</td>
                            <td><a href="http://www.rcsb.org" target="_blank">http://www.rcsb.org</a></td>
                        </tr>
                        <tr>
                            <td>AlphaFold</td>
                            <td><a href="https://alphafold.ebi.ac.uk/" target="_blank">https://alphafold.ebi.ac.uk/</a></td>
                        </tr>
                        <tr>
                            <td>dbPTM</td>
                            <td><a href="http://dbptm.mbc.nctu.edu.tw/index.php" target="_blank">http://dbptm.mbc.nctu.edu.tw/index.php</a></td>
                        </tr>
                        <tr>
                            <td>PhosPhoSitePlus</td>
                            <td><a href="https://www.phosphosite.org/homeAction" target="_blank">https://www.phosphosite.org/homeAction</a></td>
                        </tr>
                        <tr>
                            <td>qPhos</td>
                            <td><a href="http://qphos.cancerbio.info/index.php" target="_blank">http://qphos.cancerbio.info/index.php</a></td>
                        </tr>
                        <tr>
                            <td>dbPPT</td>
                            <td><a href="http://dbppt.biocuckoo.org/" target="_blank">http://dbppt.biocuckoo.org/</a></td>
                        </tr>
                        <tr>
                            <td>dbPSP</td>
                            <td><a href="http://dbpsp.biocuckoo.org/" target="_blank">http://dbpsp.biocuckoo.org/</a></td>
                        </tr>
                        <tr>
                            <td>HPRD</td>
                            <td><a href="http://www.hprd.org/" target="_blank">http://www.hprd.org/</a></td>
                        </tr>
                        <tr>
                            <td>P3DB</td>
                            <td><a href="http://www.p3db.org/" target="_blank">http://www.p3db.org/</a></td>
                        </tr>
                        <tr>
                            <td>PhosPhAt</td>
                            <td><a href="http://phosphat.uni-hohenheim.de/" target="_blank">http://phosphat.uni-hohenheim.de/</a></td>
                        </tr>
                        <tr>
                            <td>PHOSIDA</td>
                            <td><a href="http://www.phosida.com/" target="_blank">http://www.phosida.com/</a></td>
                        </tr>
                        <tr>
                            <td>Phospho.ELM</td>
                            <td><a href="http://phospho.elm.eu.org/" target="_blank">http://phospho.elm.eu.org/</a></td>
                        </tr>
                        <tr>
                            <td>PhosphoGRID</td>
                            <td><a href="http://www.phosphogrid.org/" target="_blank">http://www.phosphogrid.org/</a></td>
                        </tr>
                        <tr>
                            <td>PhosphoNET</td>
                            <td><a href="http://www.phosphonet.ca/" target="_blank">http://www.phosphonet.ca/</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
